<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <main>
        <header>
            <h1>Welcome to admin panel</h1>
        </header>
        <% if (users.length > 0) { %>
            <h2>Users</h2>
            <ul>
                <% users.forEach(function(user) { %>
                    <li>
                        Username: <%= user.username %><br>
                        Created At: <%= user.createdAt %><br>
                        Updated At: <%= user.updatedAt %><br>
                        Is Admin: <%= user.isAdmin %><br>
                        <a href="/admin/delete-user/<%= user._id %>">delete</a>
                        <a href="/admin/edit-user/<%= user._id %>">edit</a>
                    </li>
                <% }); %>
            </ul>
        <% } %>
        <h2>Weather API Requests</h2>
        <ul>
            <% weatherRequests.forEach(function(request, index) { %>
                <li>
                    Request Date: <%= request.createdAt %><br>
                    City: <%= request.city %><br>
                    <button id="toggleButton<%= index %>" onclick="toggleData('data<%= index %>')">Toggle Data</button>
                    <div id="data<%= index %>" style="display: none;">
                        Data: <%= JSON.stringify(request.data) %>
                    </div>
                </li>
            <% }); %>
        </ul>
        <h2>NASA API Requests</h2>
        <ul>
            <% nasaRequests.forEach(function(request, index) { %>
                <li>
                    Request Date: <%= request.createdAt %><br>
                    <button id="toggleButton<%= index %>" onclick="toggleData('nasa<%= index %>')">Toggle Data</button>
                    <div id="nasa<%= index %>" style="display: none;">
                        Data: <%= JSON.stringify(request.data) %>
                    </div>
                </li>
            <% }); %>
        </ul>
        <h2>News API Requests</h2>
        <ul>
            <% newsRequests.forEach(function(request, index) { %>
                <li>
                    Request Date: <%= request.createdAt %><br>
                    <button id="toggleButtonNews<%= index %>" onclick="toggleData('dataNews<%= index %>')">Toggle Data</button>
                    <div id="dataNews<%= index %>" style="display: none;">
                        Data: <%= JSON.stringify(request.data) %>
                    </div>
                </li>
            <% }); %>
        </ul>
        <form action="/admin/add-user" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="checkbox" name="isAdmin" id="isAdmin">
            <label for="isAdmin">Is Admin</label>
            <button class="button" type="submit">add user</button>
        </form>
    </main>
    <script src="./scripts.js"></script>
</body>
<footer>
    <h1>Demissenov Danial SE-2206</h1>
</footer>
</html>